<p-dialog [visible]="true" [modal]="true" [closable]="false" [draggable]="false" [resizable]="false" [dismissableMask]="true">
    <p-header>
        <div class=" col-offset-1 col-10">
            <img class="w-12 mt-3 mb-5" src="../../../../../assets/img/login-logo.png" alt="login-logo">
        </div>
    </p-header>
    <ng-container *ngIf="!email; else idIsCorrect">
        <span class="spanText">ENTER YOUR EMAIL ADDRESS</span>
        <form [formGroup]="userForm" (ngSubmit)="validateEmail()" class="grid mt-4 gap-3">
            <input class="col-12" type="email" placeholder="Email Address" formControlName="email">
            <button class="col-12" pButton pRipple type="submit" label="Continue"
                class="w-full p-button-raised p-button-secondary p-button-text"></button>
        </form>
    </ng-container>
    <ng-template #idIsCorrect>
        <span class="flex justify-content-center spanText">ENTER YOUR PASSWORD</span>
        <p>{{email}}</p>
        <form [formGroup]="userForm" (ngSubmit)="validatePassword()" class="grid mt-4 gap-3">
            <input class="col-12" type="text" placeholder="Password" formControlName="password">
            <button class="col-12" pButton pRipple type="submit" label="Sign In"
            class="w-full p-button-raised p-button-secondary p-button-text"></button>
        </form>
    </ng-template>
    <p>{{userForm.value| json}}</p>
</p-dialog>

<!-- <button type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Show">Continue</button> (click)="validateEmail()" -->