<p-dialog [(visible)]="display" [modal]="true" class="max-w-10rem" [style]="{width: '60vw'}"
[draggable]="false" [resizable]="false" [dismissableMask]="true">
<p-header>
    <div class=" col-offset-1 col-11 text-center">
        <img class="w-11 mt-3 mb-6" src="../../../../../assets/img/login-logo.png" alt="login-logo">
        <span [style]="{color: '#edd700'}">ENTER YOUR EMAIL ADDRESS</span>
    </div>
</p-header>
    <form class="grid mt-3 gap-3">
        <input class="col-12" type="email" placeholder="Email Address">
        <input class="col-12" type="password">
        <button class="col-12" pButton pRipple type="submit" label="Continue" class="w-full p-button-raised p-button-secondary p-button-text"></button>
    </form>
</p-dialog>

<button type="button" (click)="showDialog()" icon="pi pi-info-circle" label="Show">Continue</button>