<div #loginDialog>
    <p-dialog [visible]="true" [modal]="true" [closable]="false" [draggable]="false" [resizable]="false" [dismissableMask]="true">
        <p-header>
            <div class="grid">
                <div class="col-offset-2 col-8">
                    <img class="w-12 mt-3 mb-5" src="../../../../../assets/img/login-logo.png" alt="login-logo">
                </div>
                <div class="col-2 flex justify-content-end"><button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-text" (click)="closable()"></button></div>
            </div>
        </p-header>
        <ng-container *ngIf="accountDontExist; else idIsCorrect">
            <span class="spanText">ENTER YOUR EMAIL ADDRESS</span>
            <form [formGroup]="userForm" (ngSubmit)="validateUserId()" class="grid mt-4 gap-3">
                <input class="col-12"  [style.borderColor]="isInvalidEmail() ? 'red' : null" 
                type="email" placeholder="Email Address" formControlName="email">
                <div style="color: 'red'" *ngIf="isInvalidEmail()">
                    {{ userForm | emailLoginError }}
                </div>
                <button class="col-12" pButton pRipple label="Continue"
                    class="w-full p-button-raised p-button-secondary p-button-text"></button>
            </form>
        </ng-container>
        <ng-template #idIsCorrect>
            <span class="flex justify-content-center spanText">ENTER YOUR PASSWORD</span>
            <p>{{email}}</p>
            <form [formGroup]="userForm" (ngSubmit)="validateUserAccount()" class="grid mt-4 gap-3">
                <input class="col-12" [style.borderColor]="isInvalidPassword() ? 'red' : null"
                type="password" placeholder="Password" formControlName="password" (focus)="showPasswordMessage = false">
                <div style="color: 'red'" *ngIf="isInvalidPassword()">
                        {{ userForm | passwordLoginError }}
                </div>
                <button class="col-12" pButton pRipple type="submit" label="Sign In"
                class="w-full p-button-raised p-button-secondary p-button-text"></button>
            </form>
        </ng-template>
    </p-dialog>
</div>