
<div>
    <span class="flex justify-content-center spanText">ENTER YOUR PASSWORD</span>
    <app-email></app-email>
    <form [formGroup]="userForm" (ngSubmit)="validateUserAccount()" class="grid mt-4 gap-3">
        <input class="col-12" [style.borderColor]="isInvalidPassword() ? 'red' : null"
            (keydown)="showPasswordMessage = false; $event.stopPropagation()" type="password" placeholder="Password"
            formControlName="password">
        <div style="color: 'red'" *ngIf="isInvalidPassword()">
            {{ isInvalidPassword() | passwordLoginError }}
        </div>
        <button class="col-12" pButton pRipple type="submit" label="Sign In"
            class="w-full p-button-raised p-button-secondary p-button-text"></button>
    </form>
</div>
<p>{{userForm.value | json}}</p>