<ng-container *ngIf="starshipsArray; else elseTemplate">
    <div class="grid m-2">
        <div class="col-12 md:col-6 lg:col-3" *ngFor="let starship of starshipsArray">
            <p-card [style]="{'height': '100%'}" class="cursor-pointer"
            header="{{starship.name}}" styleClass="p-card-shadow" (click)="getStarship(starship.url)">
                <ng-template pTemplate="header">
                    <br>
                </ng-template>
                <hr>
                <p>
                    {{starship.model}}
                </p>
            </p-card>
        </div>
    </div>
</ng-container>
<ng-template #elseTemplate>
    <app-loading></app-loading>
</ng-template>