<ng-container *ngIf="starshipsArray; else elseTemplate">
    <div class="grid">
        <div *ngFor="let starship of starshipsArray">
            <p-card (click)="getStarship(starship.url)" header="{{starship.name}}" [style]="{'width': '25rem', 'margin-bottom': '2em'}" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <br>
                </ng-template>
                <hr>
                <p>
                    {{starship.model}}
                </p>
            </p-card>
        </div>
    </div>
</ng-container>
<ng-template #elseTemplate>
    <app-loading></app-loading>
</ng-template>
