<div class="legal" id="cookie_gtou_ppv2_proxy" data-testid="cookie_gtou_ppv2_proxy-Legal"><span
    class="expandable"><span class="cookie_gtou_ppv2_proxy-Summary"
        data-testid="cookie_gtou_ppv2_proxy-Summary">By creating an account, you agree to our <a target="_blank"
            rel="noopener" href="https://disneytermsofuse.com/english/">Terms of Use</a>, and acknowledge that
        you have read our <a target="_blank" rel="noopener"
            href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/">Privacy Policy</a>, <a
            target="_blank" rel="noopener"
            href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/cookies-policy">Cookies
            Policy</a> and <a target="_blank" rel="noopener"
            href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/privacy-notice/">UK &amp;
            EU Privacy Rights</a>.</span> <a href="#" class="legal-details-toggle"
        id="cookie_gtou_ppv2_proxy-Legal-Details-Toggle"
        data-testid="cookie_gtou_ppv2_proxy-Legal-Details-Toggle" aria-label="More..."
        aria-labelledby="More...">More...</a>
    <div id="cookie_gtou_ppv2_proxy-Details" data-testid="cookie_gtou_ppv2_proxy-Details" class="legal-details">
        How we use your personal data and your rights:<ul>
            <li>When you visit, shop or register with Disney online or use any Disney online product, service or
                mobile application, your personal data is controlled by The Walt Disney Company Limited of 3
                Queen Caroline Street, London, W6 9PE, United Kingdom.</li>
            <li>If you are a Disney+ service EU subscriber residing outside the United Kingdom, your personal
                data is also jointly controlled by The Walt Disney Company (Benelux) B.V., the provider of the
                Disney+ service.</li>
            <li>Your personal data is primarily used to provide you with the Disney products and services you
                request. It may also be used to comply with legal obligations we are subject to or to fulfill
                our legitimate interests, such as to personalize your experience, develop and improve our
                services or to detect illegal activities. With your prior consent, it may also be used to send
                you offers and promotions.</li>
            <li>You have a number of rights including the right to request access to, change, or remove your
                personal data, or to change your marketing preferences (including withdrawing your consent at
                any time) – please see our <a target="_blank" rel="noopener"
                    href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/">Privacy
                    Policy</a> to learn more about managing your marketing preferences or deleting your account.
            </li>
            <li>Our Data Protection Officer can be contacted by emailing: dataprotection@disney.co.uk.</li>
            <li>If you are in the EU, you may reach us through our local Representatives. <a target="_blank"
                    rel="noopener"
                    href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/privacy-notice/#representatives">For
                    more information about our Representatives please check here</a>.</li>
            <li>You have a right to lodge a complaint with your local Data Protection Supervisory Authority or
                with the UK Information Commissioner’s Office: <a target="_blank" rel="noopener"
                    href="https://ico.org.uk/">https://ico.org.uk/</a>.</li>
            <li>For more information about Disney’s data collection and use practices please read our <a
                    target="_blank" rel="noopener"
                    href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/">Privacy
                    Policy</a>.</li>
        </ul>
    </div>
</span></div>