<!-- <p-speedDial [model]="items"direction="left" type="semi-circle" showIcon="pi pi-user" hideIcon="pi pi-times" buttonClassName="p-button-outlined"></p-speedDial> -->


<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="p-0 absolute">
  <a #mainBtn class="mainBtn" (click)="displayMenu()"><i class="fa fa-rebel"></i></a>

  <ul #options class="options">
    <li class="option option1">
      <a class="opt opt1" routerLink="['/login']" (click)="displayMenu()"><i class="pi pi-sign-in"></i></a>
      <p class="popup">Go to Your Dashboard</p>
    <li>
    <li class="option option2">
      <a class="opt opt2" routerLink="['/logout']" (click)="displayMenu()"><i class="pi pi-sign-out"></i></a>
      <p class="popup">Update Your Prfoile</p>
    <li>
    <!-- <li class="option option3">
      <a class="opt opt3" routerLink="[]" (click)="displayMenu()"><i class="fa fa-inbox"></i></a>
      <p class="popup">Check you Comms</p>
    <li> -->
  <ul>
<!-- </div> -->