<!-- <p-toolbar>
    <div class="p-toolbar-group-left">
        <p-button label="New" icon="pi pi-plus"></p-button>
        <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button>

        <i class="pi pi-bars"></i>

        <p-splitButton label="Save" icon="pi pi-check" styleClass="p-button-warning"></p-splitButton>
    </div>

    <div class="p-toolbar-group-right">
        <p-button icon="pi pi-search"></p-button>
        <p-button icon="pi pi-calendar" styleClass="p-button-success"></p-button>
        <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
    </div>
</p-toolbar> -->



<div>
    <div class="flex justify-content-center p-3"><img src="../../../../assets/img/sw_big_logo.png" alt="littleLogo"></div>

    <div id="nav-drawer">
        <nav id="nav-content">
            <ul id="section-links" itemscope="" itemtype="https://www.schema.org/SiteNavigationElement">
                <li itemprop="name"> <a itemprop="url" class="section-link news-content active" href="/news"
                        data-cto="section" data-section="news" tabindex="0" aria-hidden="false">
                        <p class="news-content-title"><span>News + Blog</span><span class="vertical-bar"></span><span
                                class="horizontal-bar"></span></p>
                    </a> </li>
                <li itemprop="name"> <a itemprop="url" class="section-link video-content" href="/video" data-cto="section"
                        data-section="video" tabindex="0" aria-hidden="false">
                        <p class="video-content-title"><span>Video</span><span class="vertical-bar"></span><span
                                class="horizontal-bar"></span></p>
                    </a> </li>
                <li itemprop="name"> <a itemprop="url" class="section-link films-content" href="/films" data-cto="section"
                        data-section="films" tabindex="0" aria-hidden="false">
                        <p class="films-content-title"><span>Films</span><span class="vertical-bar"></span><span
                                class="horizontal-bar"></span></p>
                    </a> </li>
                <li itemprop="name"> <a itemprop="url" class="section-link tvshows-content" href="/series"
                        data-cto="section" data-section="tvshows" tabindex="0" aria-hidden="false">
                        <p class="tvshows-content-title"><span>Series</span><span class="vertical-bar"></span><span
                                class="horizontal-bar"></span></p>
                    </a> </li>
                <li itemprop="name"> <a itemprop="url" class="section-link gamesapps-content" href="/interactive"
                        data-cto="section" data-section="gamesapps" tabindex="0" aria-hidden="false">
                        <p class="gamesapps-content-title"><span>Interactive</span><span class="vertical-bar"></span><span
                                class="horizontal-bar"></span></p>
                    </a> </li>
                <li itemprop="name"> <a itemprop="url" class="section-link community-content" href="/community"
                        data-cto="section" data-section="community" tabindex="0" aria-hidden="false">
                        <p class="community-content-title"><span>Community</span><span class="vertical-bar"></span><span
                                class="horizontal-bar"></span></p>
                    </a> </li>
                <li itemprop="name"> <a itemprop="url" class="section-link databank-content" href="/databank"
                        data-cto="section" data-section="databank" tabindex="0" aria-hidden="false">
                        <p class="databank-content-title"><span>Databank</span><span class="vertical-bar"></span><span
                                class="horizontal-bar"></span></p>
                    </a> </li>
                <li itemprop="name"> <a itemprop="url" class="section-link disneyplus-content" href="/disneyplus"
                        data-cto="section" data-section="disneyplus" tabindex="0" aria-hidden="false">
                        <p class="disneyplus-content-title"><span>Disney+</span><span class="vertical-bar"></span><span
                                class="horizontal-bar"></span></p>
                    </a> </li>
            </ul>
        </nav>
    </div>
</div>