
ul {
    display: block;
    list-style-type: disc;
    border-top: 1px solid #333;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#nav-outer-container {
    font-family: "DIN Next W01 Regular", Helvetica, Arial, sans-serif;
}

#section-links {
    display: flex;
    justify-content: center;
    left: 0;
    width: 100%;
    max-width: 1200px;
    // font-size: 0;
    letter-spacing: 1px;
    margin: 0 auto;
}


li {
    padding: 4px 32px;
    display: table-cell;
    width: auto;
    margin: 0;
    vertical-align: top;
    border-left: 1px solid #333;
    box-sizing: border-box;
    padding: 0 22px;
    text-align: -webkit-match-parent;
}


a {
    font-family: "DIN Next W01 Regular", Helvetica, Arial, sans-serif;
    display: block;
    position: relative;
    text-transform: uppercase;
    transition: color 125ms;
    color: #b9b9b9;
    text-decoration: none;
    line-height: inherit;
    background: 0 0;
    letter-spacing: 1px;
}