<div>
    <div class="flex justify-content-center p-3"><img src="../../../../assets/img/sw_big_logo.png" alt="littleLogo">
    </div>

    <div class="flex font-bold justify-content-center scalein mt-3 border-300 border-top-1">
        <div class="col-2 text-500 text-center mt-2 border-left-1">
            <span routerLink="/home">
                HOME
            </span>
        </div>
        <div class="col-2 text-500 text-center mt-2 border-left-1 border-right-1">
            <span routerLink="/starships">
                STARSHIPS
            </span>
        </div>
    </div>

</div>