<div class="font-bold text-500 text-center">
    <div class="grid">
        <div class="flex flex-order-0 justify-content-center col-6 col-offset-3"><img src="../../../../assets/img/sw_big_logo.png" alt="littleLogo">
        </div>
        <div class="col-3">
            <div class="flex justify-content-center">
                <div  *ngIf="userData | async as data">
                    {{data.name}}
                    <span class="cursor-pointer" (click)="logout(localSt)">
                        SIGN OUT
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="flex justify-content-center scalein animation-duration-1000 mt-3 border-300 border-top-1">
        <div class="col-2 mt-2 border-left-1">
            <div class="flex justify-content-center">
                <span class="cursor-pointer" routerLink="/home">
                    HOME
                </span>
            </div>
        </div>
        <div class="col-2  mt-2 border-left-1 border-right-1">
            <div class="flex justify-content-center">
                <span class="cursor-pointer" routerLink="/starships">
                    STARSHIPS
                </span>
            </div>
        </div>
    </div>

</div>