<div class="h-3.9rem grid">
    <div id="container">
        <div id="burger" (click)="hamburgerMenu($event)">
            <div class="bun top"></div>
            <div class="filling"></div>
            <div class="bun bottom"></div>
        </div>
        <nav #navMobile>
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
<!--                 <li class="green">
                    <a href="#">Jedi</a>
                </li> -->
                <li class="red">
                    <a routerLink="/starships">Starships</a>
                </li>
<!--                 <li class="yellow">
                    <a href="#">Sentinel</a>
                </li>
                <li class="purple">
                    <a href="#">Samuel L. Jackson</a>
                </li> -->
            </ul>
        </nav>
    </div>
    <div class="col-6 col-offset-3 flex justify-content-center">
        <div><img src="../../../../assets/img/sw_little_logo.png" alt="littleLogo"></div>
    </div>
    <div class="col-3 flex justify-content-end p-0">
        <app-login-button></app-login-button>
    </div>
</div>