<div class="h-4rem grid">
    <div id="container" class="mt-2">
        <div #burger id="burger" (click)="displayMenu()">
            <div class="bun top"></div>
            <div class="filling"></div>
            <div class="bun bottom"></div>
        </div>
    </div>
    <nav #navMobile>
        <ul>
            <li>
                <a routerLink="/home" (click)="displayMenu()">Home</a>
            </li>
<!--                 <li class="green">
                <a href="#">Jedi</a>
            </li> -->
            <li class="red">
                <a routerLink="/starships" (click)="displayMenu()">Starships</a>
            </li>
<!--                 <li class="yellow">
                <a href="#">Sentinel</a>
            </li>
            <li class="purple">
                <a href="#">Samuel L. Jackson</a>
            </li> -->
        </ul>
    </nav>
    <div class="col-6 col-offset-3 flex justify-content-center align-items-end">
        <div class="align-content-end"><img src="../../../../assets/img/sw_little_logo.png" alt="littleLogo"></div>
    </div>
    <div class="col-2 md:col-3 flex justify-content-center p-0">
        <app-login-button></app-login-button>
    </div>
</div>