
<div class="flex justify-content-center align-content-center h-full">
    <p-card [header]="starship.name" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img [src]="starshipImage" alt="starship">
        </ng-template>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
            <p-accordion [multiple]="true">
                <p-accordionTab header="Pilots">
                    <app-pilots [pilots]="starship.pilots"></app-pilots>
                </p-accordionTab>
                <p-accordionTab header="Films">
                    <app-films [films]="starship.films"></app-films>
                </p-accordionTab>
            </p-accordion>
        <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
        </ng-template>
    </p-card>
</div>